@font-face {
    font-family: 'Alliance No.2';
    src: url('https://cdn.glitch.com/a9c4e687-7c99-4065-88c1-02e69edfd394%2FAllianceNo2-Light.woff2?v=1625077483454') format('woff2'),
        url('https://cdn.glitch.com/a9c4e687-7c99-4065-88c1-02e69edfd394%2FAllianceNo2-Light.woff?v=1625077483357') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Alliance No.2';
    src: url('https://cdn.glitch.com/a9c4e687-7c99-4065-88c1-02e69edfd394%2FAllianceNo2-Medium.woff2?v=1625077728919') format('woff2'),
        url('https://cdn.glitch.com/a9c4e687-7c99-4065-88c1-02e69edfd394%2FAllianceNo2-Medium.woff?v=1625077728881') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Alliance No.2';
    src: url('https://cdn.glitch.com/a9c4e687-7c99-4065-88c1-02e69edfd394%2FAllianceNo2-Regular.woff2?v=1625077881050') format('woff2'),
        url('https://cdn.glitch.com/a9c4e687-7c99-4065-88c1-02e69edfd394%2FAllianceNo2-Regular.woff?v=1625077881509') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alliance No.2';
    src: url('https://cdn.glitch.com/a9c4e687-7c99-4065-88c1-02e69edfd394%2FAllianceNo2-Bold.woff2?v=1625077957435') format('woff2'),
        url('https://cdn.glitch.com/a9c4e687-7c99-4065-88c1-02e69edfd394%2FAllianceNo2-Bold.woff?v=1625077957523') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Neurial Grotesk';
    src: url('https://cdn.glitch.com/a9c4e687-7c99-4065-88c1-02e69edfd394%2FNeurialGrotesk-Bold.woff2?v=1622426113808') format('woff2'),
        url('https://cdn.glitch.com/a9c4e687-7c99-4065-88c1-02e69edfd394%2FNeurialGrotesk-Bold.woff?v=1622426113395') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neurial Grotesk';
    src: url('https://cdn.glitch.com/a9c4e687-7c99-4065-88c1-02e69edfd394%2FNeurialGrotesk-Light.woff2?v=1622426115945') format('woff2'),
        url('https://cdn.glitch.com/a9c4e687-7c99-4065-88c1-02e69edfd394%2FNeurialGrotesk-Light.woff?v=1622426114809') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neurial Grotesk';
    src: url('https://cdn.glitch.com/a9c4e687-7c99-4065-88c1-02e69edfd394%2FNeurialGrotesk-Medium.woff2?v=1622426118336') format('woff2'),
        url('https://cdn.glitch.com/a9c4e687-7c99-4065-88c1-02e69edfd394%2FNeurialGrotesk-Medium.woff?v=1622426117209') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neurial Grotesk';
    src: url('https://cdn.glitch.com/a9c4e687-7c99-4065-88c1-02e69edfd394%2FNeurialGrotesk-Regular.woff2?v=1622426120692') format('woff2'),
        url('https://cdn.glitch.com/a9c4e687-7c99-4065-88c1-02e69edfd394%2FNeurialGrotesk-Regular.woff?v=1622426119595') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
